build.gradle
gradlew
gradlew.bat
settings.gradle
.gradle/file-system.probe
.gradle/7.4/gc.properties
.gradle/7.4/checksums/checksums.lock
.gradle/7.4/dependencies-accessors/dependencies-accessors.lock
.gradle/7.4/dependencies-accessors/gc.properties
.gradle/7.4/executionHistory/executionHistory.bin
.gradle/7.4/executionHistory/executionHistory.lock
.gradle/7.4/fileChanges/last-build.bin
.gradle/7.4/fileHashes/fileHashes.bin
.gradle/7.4/fileHashes/fileHashes.lock
.gradle/7.4/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
.idea/.gitignore
.idea/.name
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
build/classes/java/main/Programmers.Quiz1.class
build/classes/java/main/Programmers.Quiz2.class
build/classes/java/main/Programmers.Quiz3.class
build/tmp/compileJava/previous-compilation-data.bin
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
.idea/vcs.xml
